<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodico.duke0808.mygeekhub_homeworks" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_predator"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeWorks.HomeWork1_Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browser.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeWorks.HW2Activity"
            android:label="@string/title_activity_hw2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".HomeWorks.HomeWork3" >
        </activity>
        <activity android:name=".HomeWorks.HomeWork4.Hw4_activity" >
        </activity>
    </application>

</manifest>
